.portfolio-value{
    width: 30%;
    aspect-ratio: 1/0.5;
    background: var(--bg-header);
    
    border: 1px solid var(--border-primary);
    border-radius: 12px;
    
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
    
    gap: 15px;

    h2{
        margin: 0 0 15px 0;
    }

    .total-value{
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
/* нужно сделать по цвету индексацию динамическую, она по факту сделана, но нужно сделать именно цвет */
}