.App {
  min-height: 100vh;
  background: var(--bg-page);
  display: flex;
  flex-direction: column;
}

.App-body {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden; 
}

.main-content {
  flex: 1;
  padding: 20px;
  background: var(--bg-page);
  color: var(--color-primary);
  overflow-y: auto; /* Прокрутка только для контента */
  min-height: calc(100vh - 200px); /* Высота минус шапка и подвал */
}