.Theme-toggle-button{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* border: 1px black solid; */
    background: transparent;
    border-radius: 25px;
    color: var(--color-secondary);
}


.Sidebar-navigate{
    
    border-radius: 15px;
    /* border: 1px black solid; */
    
    width: 90%;
    height: 50px;
    margin: 10px;

    color: var(--color-secondary);
    background-color: var(--bg-button);
}