.home{
    display: flex;
    flex-direction: column;
    gap: 15px;

    .total{
        display: flex;
        flex-direction: row;
        gap: 35px;
    }

    .graphic{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
}