.Sidebar{
    width: 250px;
    height: 100vh; /* загадка от Жака Фреско, как сделать сайд бар на полную?*/
    background: var(--bg-sidebar);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    color: var(--color-secondary);
}