.portfolio-actives{
    width: 30%;
    aspect-ratio: 1/0.5;
    background: var(--bg-header);
    
    border: 1px solid var(--bg-footer);
    border-radius: 12px;
    
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
    
    gap: 15px;

    h2{
        margin: 0 0 15px 0;
    }

    .total-actives{
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .second-total-actives{
        font-size: 1.2rem;
        font-weight: 200;
        font-style: italic;
        color: var(--bg-footer);
    }
}